/* 4 - External */

body {
    padding-bottom: 500px;
}

h3 {
    color: green;
    font-size: 50px;
}

p {
    /*color: blueviolet;*/
}

h4 {
    background-color: blueviolet;
}

/* Primeiro comentário*/
/* Segundo comentário*/
/* Terceiro comentário*/

/* Classes*/
.pargraph {
    background-color: black;
    color: white;
    padding: 5px;
}

/* ids */

#exclusive-title {
    background-color: purple;
    color: yellow;
    padding: 10px;
    font-size: 40px;
}

/* Ordem das regras*/
h2 {
    border-bottom: 2px solid red;
}

.titulo {
    border-bottom: 3px solid blue;
}

#algum-titulo {
    border-bottom: 3px solid green;
}

/* Nome de cores */
.color-name {
    color: crimson;
}

/* Hex */
.hex {
    color: #55a398;
}

.hex-2 {
    color: #134af8;
}

/* Aprofundando em hex*/
.simple-hex {
    color: #333;
}

.simple-hex-2 {
    color: #a57;
}

/* RGB */
.rgb {
    color: rgb(2, 61, 13)
}

.mixed-rgb {
    color: rgb(200, 21, 47)
}

/* RGBA */
.rgba {
    color: rgba(255, 0, 255, 0.2)
}

/* HSL */
.hsl {
    color: hsl(80, 70%, 20%)
}

.hsl-2 {
    color: hsl(200, 60%, 30%)
}

/* Background */
.bg {
    background-color: #333;
    color: yellow;
}

.bg-2 {
    background-color: rgb(200, 20, 30);
    color: white;
}

/* Background opacity */
.bg-opacity {
    background-color: goldenrod;
    opacity: 0.2;
    color: white;
}

.bg-opacity-2 {
    background-color: #999;
    color: white;
    opacity: .7;
}

/* RGBA com opcidade */
.rgba-opcity {
    background-color: rgba(90, 20, 30, 0.2);
    color: #000;
}

/* BG image*/
.bg-image {
    background-image: url(../img/nature.jpg);
    padding: 20px;
    color: #fff
}

/* Centralizando img bg */
.not-centered-bg, .centered-bg {
    height: 400px;
    width: 400px;
    background-image: url(../img/bridge.jpg);
}

.centered-bg {
    background-position: center;
    background-size: cover;
}

/* Largura altura */
.height-width {
    height: 400px;
    width: 300px;
    background-color: red;
}

.height-width-2 {
    height: 300px;
    background-color: #333;
}

/* Padding */
.without-padding, .padding {
    background-color: #111;
    color: #fff;
    font-size: 30px;
}

.padding {
    background-color: #333;
   padding: 20px;
   font-size: 30px;
}

/* Padding individual */
.padding-individual {
    background-color: #222;
    color: #fff;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 30px;
    padding-bottom: 40px;
}

/* Shorthand padding */
.shorthand-padding {
    background-color: #444;
    padding: 6px 12px 18px 24px;
}

.shorthand-padding-2 {
    background-color: #555;
    padding: 10px 20px;
    /*padding 10px 20px 10px 20px*/
}

/* padding com width */
.without-border-box {
    background-color: #444;
    width: 400px;
    color: #fff;
    padding: 50px;
}

.border-box {
    background-color: #666;
    width: 400px;
    color: #fff;
    padding: 50px;
    box-sizing: border-box;
} 

/* Border */
.border {
    border: 2px solid #057;
    padding: 10px;
    margin: 10px;
}

.border-2 {
    border: 3px dotted red;
    padding: 20px;
}

/* Border individual */
.border-left {
    border-left: 3px solid red;
    background-color: #333;
    color: white;
    padding: 25px;
}

.border-bottom {
    border-bottom: 5px double #399;
    background-color: black;
    color: white;
    padding: 25px;
}

/* Borda arredondada */
.roundet-p {
    border: 4px solid #134af8;
    background-color: #000;
    color: white;
    padding: 15px;
    margin: 10px;
}

.roundet-p-2 {
    background-color: #000;
    color: white;
    padding: 15px;
    border-radius: 15px;
}

/* Margem */
.margin {
    margin: 10px;
    background-color: #222;
    color: white;
}

.margin-top {
    margin-top: 50px;
    background-color: #444;
    color: white;
    padding: 10px;
}

.margin-shorthand {
    background-color: #666;
    margin: 5px 10px 20px 30px;
    color: white;
}

/* Box model */
.box-model {
    margin: 20px;
    padding: 15px 20px;
    border: 3px solid #666;
    border-radius: 10px;
    width: 200px;
    height: 400px;
}

/* Text align */
.text-aligned {
    text-align: right;
}

.container-center {
    text-align: center;
    width: 300px;
    border: 1px solid #a59;
}

.underline {
    text-decoration: underline;
}

.line-trough {
    text-decoration: line-through;
}

.remove-underline {
    text-decoration: none;
    color: red;
}

/* Text transform*/
.upper {
    text-transform: uppercase;
}

.lower {
    text-transform: lowercase; 
}

/* Letter spacing */
.spacing {
    letter-spacing: 5px;
}







